.side-bar{
    background-color:#e73d92 !important;
    font-size: 1.2rem !important;
}
.displayUser{
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}