.Messages{
    padding-top:10px;
    padding-left:13px;
}
.Messages .ui.segment:nth-child(2){
    height:510px;
    overflow-y: auto !important;
    overflow-x:hidden
}
.messageContent{
    width:1140px;
}
