.msgHeader .ui.segment{
    height: 100px !important;
}
.favoriteButton{
    cursor:pointer
}
.description{
    color:grey;
    font-size:18px;
}
.userAvatar{
    /* float:left; */
    display:inline-block !important;
    width:64px;
    margin-top:5px;
    border-radius:35px;
    vertical-align: middle !important;
}
.channelName{
    display:inline-block;
}
.userName{
    margin-left:5px;
    display:inline-block;
    vertical-align: middle;
}
.chatInfo{
    display:inline-block;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
}
.userInfoModal .ui.image{
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    width:115px;
    border: none;
    border-radius:60px !important;
    display:inline-block !important;
    vertical-align: middle;
}

.userCount{
    cursor:pointer !important;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.userList .member{
    margin-bottom:10px;
}

.userList .member  .ui.image{
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    width:80px;
    border: none;
    border-radius:60px !important;
    display:inline-block !important;
    vertical-align: middle;
}
.userList .member p{
    display:inline-block !important;
    margin-left:10px; 
    margin-top:25px;
    font-size:21px;
    color:black;
    font-weight:bold;
    vertical-align: middle;
}