.msgHeader .ui.segment{
    height: 100px !important;
}
.favoriteButton{
    cursor:pointer
}
.description{
    color:grey;
    font-size:18px;
}
.userAvatar{
    /* float:left; */
    display:inline-block !important;
    width:64px;
    margin-top:5px;
    border-radius:35px;
    vertical-align: middle !important;
}
.channelName{
    display:inline-block;
}
.userName{
    margin-left:5px;
    display:inline-block;
    vertical-align: middle;
}
.chatInfo{
    display:inline-block;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
