.userInfo-row{
    padding:15px;
}
.ui.header .logo{
    text-align: center;
}
.userInfo{
    display: flex;
    align-items:center;
}
.ui.header .logo img{
    width:240px;
}
.userInfo .ui.image {
    border-radius:30px;
    width:45px;
    display:inline-block;
}
.user{
    cursor:pointer;
}
.user p{
    display:inline-block;
    margin-left:8px;
    font-size:15px;
    color:#867303;
    font-weight:bold;
}
.user span{
    display:flex;
    flex-wrap: wrap;
}

.userModal{
    width:500px !important;
}
.userModal .ui.button{
    background: #ffd900 !important;
    color:white;
}
.userInfoModal{
    display:inline-block;
}
input[type=image]{
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    width:115px;
    border: none; /* <-- This thing here */
    border-radius:60px !important;
    display:inline-block !important;
    vertical-align: middle;
}

input[type=image]:focus{
    outline:none !important;
}

.userImage{
    width:120px;
    border: none;
    border-radius:60px !important;
    display:inline-block !important;
    vertical-align: middle;
}
.userInfoModal p{
    display:inline-block !important;
    margin-left:10px; 
    margin-top:25px;
    font-size:21px;
    color:black;
    font-weight:bold;
    vertical-align: middle;
}
.userInfoModal p:nth-child(4){
    margin-top:10px;
    margin-left:0px;
    margin-bottom:0px;
    display:block !important;
    font-size:15px;
}
.userInfoModal textarea{
    display: block;
    width:100% !important;
    height:150px;
    border: 1px solid #ffd900;
    padding:10px;
	border-radius: 5px;
    resize:none;
}
.userInfoModal textarea:focus{
    outline:none !important;
}