.userInfo-row{
    padding:15px;
}
.ui.header .logo{
    text-align: center;
}
.userInfo{
    display: flex;
    align-items:center;
}
.ui.header .logo img{
    width:240px;
}
.userInfo .ui.image {
    border-radius:30px;
    width:45px;
    display:inline-block;
}
.user{
    cursor:pointer;
}
.user p{
    display:inline-block;
    margin-left:8px;
    font-size:15px;
    color:#867303;
    font-weight:bold;
}
.user span{
    display:flex;
    flex-wrap: wrap;
}