.channelModal form.ui.form input[type='text']
{
    color:black !important;
}
.channelModal .ui.button{
    background: #ffd900 !important;
    color:white;
}

.ui.menu .item{
    color:#867303 !important;
    font-weight: bold !important;
    font-size:15px !important;
}
.clickable:hover
{
    cursor: pointer;
}
.ui.menu .item.active{
    animation: activeanim 0.5s !important
}

.privateChannelIcon{
    float: left !important;
    color:#867303 !important;
    font-weight: bold !important;
    font-size:15px !important;
    height:30px;
}

@keyframes activeanim {
    from{
        background:#ffd900 !important;
    }
    to{
        background:#e0bf02 !important;
    }
}