.InputButton .ui.button{
    width: 50px!important;
    height:50px;
    background: #ffd900 !important;
    color:black;
}
.InputButton .ui.button:hover{
    animation: buttonClr 0.8s;
}

@keyframes buttonClr {
    from {color: black;}
    to {    color:rgb(109, 109, 109);}
}

.emoji-toggler .ui.button{
    z-index: 99999;
    cursor:pointer;
    position:absolute;
    top:18px;
    right:110px;
    opacity: 0.5;
    border: none !important;
    background: none !important;
}


.emoji-box{
    z-index: 99999;
    position:absolute;
    bottom:55px;
    right:130px;
}

.emoji:focus{
    color:#ffd900;
}